/*
 * vim: ft=less
 */

@define-color bg rgba(42, 42, 42, 0.8);
@define-color bg-hover rgba(65, 65, 65, 0.8);
@define-color text-color white;
@define-color text-color-disabled rgba(255, 255, 255, 0.4);
@define-color accent-color rgb(0, 128, 255);

* {
  border: none;
  border-radius: 0;
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  color: @text-color;
  transition-property: background-color;
  transition-property: color;
  transition-duration: 0.25s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window {
  background: transparent;
}

window > box {
  background: @bg;
  margin: 8px;
  border-radius: 12px;
  background-clip: border-box;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7),
    0 2px 6px 2px rgba(0, 0, 0, 0.3);
}

/* All module containers */
window box > box {
  padding: 0 8px;
  border-radius: 12px;
}

/* All modules */
window > box > box > widget > * {
  padding: 0 8px;
}

window > box > box > widget > button:hover {
  background: @bg-hover;
}

.modules-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.modules-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

window > box > box > widget button:insensitive {
  color: @text-color;
  font-weight: bold;
}

#workspaces button {
  /* padding: 0 10px; */
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  color: @text-color;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button.visible,
#workspaces button:hover {
  box-shadow: inset 0 -2px #555555;
}

#workspaces button:hover {
  background: @bg-hover;
}

#workspaces button.focused {
  box-shadow: inset 0 -2px @accent-color;
}

#workspaces button.urgent {
  color: #bd2c40;
  box-shadow: inset 0 -2px #bd2c40;
}

#gamemode {
  color: @text-color-disabled;
}
#gamemode.running {
  color: @text-color;
}

#backlight {
  background-color: #90b1b1;
}

#custom-airplane {
  font-size: 24px;
}

#bluetooth {
  font-size: 22px;
}

#bluetooth.disabled,
#bluetooth.off {
  color: @text-color-disabled;
}

#network {
  font-family: "Material Icons Round", "FontAwesome";
  font-size: 22px;
}

#network.disconnected,
#network.linked {
  color: @text-color-disabled;
}

#pulseaudio.muted {
  color: @text-color-disabled;
}
