[Desktop Entry]
Version=1.0
Name=Logins Firefox
Comment=Logins
GenericName=Logins
Keywords=Logins
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=firefox org.mozilla.firefox --new-window "about:logins"
Icon=org.mozilla.firefox
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=firefox-logins
