[Unit]
Description=Runs powertune --auto-tune but doesn't disable usb devices
After=multi-user.target NetworkManager.service

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/bin/powertune.sh

[Install]
WantedBy=multi-user.target
